<div class="body">
	<div class="container">
		<div class="row">
			<script>
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						auto: true,           // 自動スライド
						speed: 1000,          // スライドするスピード
						moveSlides: 1,        // 移動するスライド数
						pause: 3000,          // 自動スライドの待ち時間
						maxSlides: 2,         // 一度に表示させる最大数
						slideWidth: 400,      // 各スライドの幅
						randomStart: true,    // 最初に表示するスライドをランダムに設定
						autoHover: true       // ホバー時に自動スライドを停止
					});
				});
			</script>
			<h3>おすすめ</h3>
				<div class="row">
					<ul class="bxslider">
						<% @favorites.each do |favorite| %>
							<li><%= link_to place_show_count_path(favorite), method: :patch do %>
								<%= attachment_image_tag favorite, :place_image, :fill, 400, 350, format:"jpg" %>
								<h4><%= favorite.place_name %></h4>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>
			<h3>閲覧数</h3>
				<div class="row">
					<% @show_ranking.each do |show| %>
						<div class="col-xs-4">
							<div class="thumbnail">
								<%= link_to place_show_count_path(show), method: :patch do %>
									<%= attachment_image_tag show, :place_image, :fill, 400, 200, format:"jpg", size:'400x200' %>
									<%= show.place_name %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			<h3>新着口コミ</h3>
				<div class="row">
					<% @comment_images.each do|image| %>
						<div class="col-xs-4">
							<div class="thumbnail">
								<%= link_to comment_path(image.comment.id) do %>
									<%= attachment_image_tag image, :image, :fill, 400, 200, format:"jpg", fallback:"no_image.jpg", size:'400x200' %>
									<%= image.comment.title %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			<h3>新しい旅の記録</h3>
				<div class="row">
					<% @spots.each do|spot| %>
						<div class="col-xs-4">
							<div class="thumbnail">
								<%= link_to record_path(spot.record.id) do %>
									<%= attachment_image_tag spot, :spot_image, :fill, 400, 200, format:"jpg", fallback:"no_image.jpg", size:'300x200' %>
									<%= spot.record.record_title %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
		</div>
	</div>
</div>