<div class="body">
	<div class="container">
		<div class="row">
			<%= form_for(comment, url: place_comments_path) do |f| %>
				<% if comment.errors.any? %>
				  <div id="error_explanation">
				    <h2><%= comment.errors.count %>件のエラーが発生しました。</h2>
				    <ul>
				      <% comment.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				    </ul>
				   </div>
				<% end %>
		        <p>
		        	<div class="comment-title ef">
		        		<div>
							<span>タイトル</span>
						</div>
						<%= f.text_field :title %>
					</div>
			    </p>
			    <p>
			    	<div class="row">
			    	<span>画像</span>
			    	<%= f.attachment_field :comment_images_images, multiple: true, id:"icon" %>
						<output id="list"></output>
			    	

			    	<script>
			    		 document.getElementById('icon').onchange = function(event){
						    initializeFiles();

						    var files = event.target.files;

						    for (var i = 0, f; f = files[i]; i++) {
						      var reader = new FileReader;
						      reader.readAsDataURL(f);

						      reader.onload = (function(theFile) {
						        return function (e) {
						          var div = document.createElement('div');
						          div.className = 'reader_file';
						          div.innerHTML = '<div class="reader_title">' + encodeURIComponent(theFile.name) + '</div>';
						          div.innerHTML += '<img class="reader_image" src="' + e.target.result + '" />';
						          document.getElementById('list').insertBefore(div, null);
						        }
						      })(f);
						    }
						  };

						  function initializeFiles() {
						    document.getElementById('list').innerHTML = '';
						  }
					</script>
			    </p>
			</div>
			    <div class="clearfix">
			    <p>
			    	<span>季節</span>
			    	<% season.each do |season| %>
			    	<%= radio_button 'comment','season', season.season, {include_hidden: false} %>
			    	<%= season.season %>
			    	<% end %>
			    </p>
			    <p>
			    	<span>人数</span>
			    	<% organization.each do |organization| %>
			    	<%= radio_button 'comment','organization', organization.organization %>
		           <%= organization.organization %>
			    	<% end %>
			    </p>

			    <p>
			    	<div class="comment-text gh">
			    		<div>
			    			<span>コメント</span>
			    		</div>
			    		<%= f.text_area :text, :placeholder => "#をつけて投稿してみよう" %>
			    	</div>
			    </p>
			</div>
			    <%= f.submit 'コメントを投稿', class:"comment-submit" %>
		    <% end %>
		</div>
	</div>
</div>