<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2><%= link_to place_path(@comment.place_id) do %>
					<%= @comment.place.place_name %><% end %></h2>
				<div class="row">
					<% @comment.comment_images.each do |image| %>
		              		<%= attachment_image_tag image, :image, :fill, 400, 200, format:"jpg", fallback:"no_image.jpg" %>
		          	<% end %>
		        </div>

		        <p>
		        	<%= @comment.title %>
		        </p>
		        <p>
		        	<%= render_with_hashtags(@comment.text) %>
		        </p>
		        <p>
			        <strong>季節:</strong>
			        <%= @comment.season %>
		        </p>
		        <p>
		        	<strong>人数</strong>
		        	<%= @comment.organization %>
		        </p>
		    </div>
		</div>
	</div>
</div>