<%= form_for(record_new, url:records_path) do |f| %>
	<div class="record-title">
		<%= f.text_field :record_title, class:"ab" %>
		<label>タイトル</label>
		<span class="title-focus-line"></span>
	</div>
	<div class="record-text">
		<%= f.text_area :record_text, class:"cd" %>
		<label>感想</label>
		<span class="text-focus-line"></span>
	</div>

	<h4>行った場所</h4>
	<div id="spot">
		<%= f.fields_for :spots do |spot| %>
			<%= render 'public/records/spot_fields', f: spot %>
		<% end %>
       	<div id="links">
          <%= link_to_add_association '行った場所追加',f, :spots %>
        </div>
    </div>

     <%= f.submit "投稿", class:"record-submit" %>
<% end %>