<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3><%= link_to user_path(@record.user.id) do %>
						<%= @record.user.name %>
    				<% end %>
    				さんの旅の記録
				</h3>
				<strong>タイトル</strong>
				<div class="resord-title-show">
					<%= @record.record_title %>
				</div>
				<strong>感想</strong>
				<div class="record-text-show">
					<%= @record.record_text %>
				</div>

					<% @record.spots.each do |spot| %>
					<div class="record-spots">
					    <p>
							<strong>場所:</strong>
							<%= link_to spot_path(spot), class:"spot-name" do %>
								<%= spot.spot_name %>
							<% end %>
						</p>
						<p>
					    	<strong>日付:</strong>
					    	<%= spot.spot_date %>
					    </p>
						<p>
							<strong>一言感想:</strong>
							<div class="spot-title-show">
								<%= spot.spot_title %>
							</div>
						</p>
						<strong>お気に入りの一枚</strong>
						<div class="spot-image">
							<%= attachment_image_tag spot, :spot_image, :fill, 500, 300, format:"jpg" %>
						</div>
					</div>
					<% end %>
			</div>
		</div>
	</div>
</div>