<div class="body">

	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h4><%= link_to user_path(@user) do %>
						<%= @user.name %>
    				<% end %>
    				さんの旅の記録一覧
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>タイトル</th>
							<th>コメント</th>
							<th clspan="2"></th>
						</tr>
					</thead>
				<% @user.records.each do |record| %>
					<tbody>
						<tr>
							<td><%= link_to record_path(record) do %>
								<%= record.record_title %>
								<% end %>
							</td>
							<td>
								<%= record.record_text %>
							</td>
							<td><% if record.user_id == current_user.id %>
								<%= link_to "削除", record_path(record), method: :delete, data: {confirm: "本当に削除しますか?" }, class:"btn-sm btn-danger" %>
								<% end %>
							</td>
						</tr>
					</tbody>
				<% end %>
				</table>
			</div>
		</div>
	</div>
</div>