<div class="body">
  <div class="container">
      <div class="row">
        <div class ="user-info">
          <h2>ユーザー情報</h2>
          <div class="row">

            <div class="col-xs-4">
              <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpg", fallback:"no_image.jpg", class:"user-image user-left" %>
              <div class="user-edit">
                <% if user_signed_in? %>
                <% if @user.id == current_user.id %>
                  <%= link_to "編集", edit_user_path(@user), class:"btn btn-default glyphicon glyphicon-wrench user-left" %>
                <% end %>
                <% end %>
              </div>
            </div>

            <div class="col-xs-8">
              <table class="table">
	             <tbody>
	               <tr></tr>
	               <tr>
		                <th>ニックネーム</th>
                    <th><%= @user.name %></th>
                  </tr>
                  <tr>
	                 <th>自己紹介</th>
                   <th><%= @user.user_introduction %></th>
                  </tr>
               </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <h3>訪れた都道府県の数　<%= @went.prefecture_count %>/47</h3>
            <h3>訪れた場所の数　<%= @went_places.count %>ヶ所</h3>
            <h3><%= link_to "旅の記録", user_user_records_path(@user), class:"glyphicon glyphicon-send" %></h3>

            <% @went_places.each do |place| %>
            <div class="col-xs-4">
              <div class="thumbnail">
                <%= link_to place_path(place) do %>
                  <div class="top-image">
                    <%= attachment_image_tag place, :place_image, :fill, 400, 200, fallback:"no_image.jpg", class:"top-image" %>
                  </div>
                  <%= place.place_name %>
                <% end %>
              </div>
            </div>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>